In [1]:
#Importando bibliotecas
import pandas as pd
import numpy as np
import os

In [3]:
#importando base de dados customers
payments = pd.read_csv('./brazilian-ecommerce/olist_order_payments_dataset.csv')

In [5]:
payments.head(n=20)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
5,298fcdf1f73eb413e4d26d01b25bc1cd,1,credit_card,2,96.12
6,771ee386b001f06208a7419e4fc1bbd7,1,credit_card,1,81.16
7,3d7239c394a212faae122962df514ac7,1,credit_card,3,51.84
8,1f78449c87a54faf9e96e88ba1491fa9,1,credit_card,6,341.09
9,0573b5e23cbd798006520e1d5b4c6714,1,boleto,1,51.95
10,d88e0d5fa41661ce03cf6cf336527646,1,credit_card,8,188.73
11,2480f727e869fdeb397244a21b721b67,1,credit_card,1,141.90
12,616105c9352a9668c38303ad44e056cd,1,credit_card,1,75.78
13,cf95215a722f3ebf29e6bbab87a29e61,1,credit_card,5,102.66
14,769214176682788a92801d8907fa1b40,1,credit_card,4,105.28
15,12e5cfe0e4716b59afb0e0f4a3bd6570,1,credit_card,10,157.45
16,61059985a6fc0ad64e95d9944caacdad,1,credit_card,1,132.04
17,79da3f5fe31ad1e454f06f95dc032ad5,1,credit_card,1,98.94
18,8ac09207f415d55acff302df7d6a895c,1,credit_card,4,244.15
19,b2349a3f20dfbeef62e7b31baa22f84b,1,credit_card,3,136.71

In [6]:
payments.shape

(103886, 5)

In [7]:
payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
order_id                103886 non-null object
payment_sequential      103886 non-null int64
payment_type            103886 non-null object
payment_installments    103886 non-null int64
payment_value           103886 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB